<div class="main">
  <div class="container">
    <div class="cards">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Title</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage alt="card-image-1" src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg">
          <mat-card-content>
              Text content
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-button (click)="onAction1">Action1</button>

          </mat-card-actions>
          <mat-card-footer>
              Footer
          </mat-card-footer>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Title</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage alt="card-image-2" src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg">
          <mat-card-content>
              Text content
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-button (click)="onAction1">Action1</button>

          </mat-card-actions>
          <mat-card-footer>
              Footer
          </mat-card-footer>
      </mat-card>
      <mat-card>
          <mat-card-header>
              <mat-card-title>Title</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage alt="card-image-3" src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg">
          <mat-card-content>
              Text content
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-button (click)="onAction1">Action1</button>

          </mat-card-actions>
          <mat-card-footer>
              Footer
          </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>
